/* Устанавливаем box-sizing: border-box для всех элементов на странице,
чтобы ширина и высота включали в себя границы и отступы */
* {
    box-sizing: border-box;
 }
 
 /* Устанавливаем стили для всего тела страницы */
 body {
    background-color: #f2f2f2; /* Цвет фона */
    font-family: "Helvetica", sans-serif; /* Шрифт текста */
 }
 
 /* Устанавливаем стили для контейнера с классом "container" */
 .container {
    background-color: white; /* Цвет фона контейнера */
    max-width: 600px; /* Максимальная ширина контейнера */
    margin: 100px auto; /* Отступы сверху и снизу, выравнивание по центру по горизонтали */
    padding: 20px; /* Внутренний отступ контейнера */
    box-shadow: 0 0 10px rgba(0, 0, 0, .2); /* Тень контейнера */
    border-radius: 10px; /* Закругление углов контейнера */
 }
 
 /* Устанавливаем стили для заголовка h1 */
 h1 {
    margin-top: 0; /* Убираем верхний отступ заголовка */
    text-align: center; /* Выравниваем текст по центру */
 }
 
 /* Устанавливаем стили для всех текстовых полей ввода input */
 input {
    padding: 10px; /* Внутренний отступ текстового поля */
    border: 1px solid #ff0000; /* Граница текстового поля */
    border-radius: 4px; /* Закругление углов текстового поля */
    margin: 10px 0; /* Внешний отступ сверху и снизу текстового поля */
    width: 100%; /* Ширина текстового поля на 100% контейнера */
 }
 
 /* Устанавливаем стили для кнопки button */
 button {
    background-color: #4caf50; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    padding: 10px; /* Внутренний отступ кнопки */
    border: none; /* Убираем границу кнопки */
    cursor: pointer; /* Устанавливаем указатель при наведении на кнопку */
    margin: 10px 0; /* Внешний отступ сверху и снизу кнопки */
    width: 100%; /* Ширина кнопки на 100% контейнера */
    font-size: 18px; /* Размер шрифта кнопки */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    transition: background-color .2s ease; /* Плавное изменение цвета фона при наведении */
 }
 
 /* Стили для кнопки при наведении */
 button:hover {
    background-color: #8ba045; /* Измененный цвет фона кнопки при наведении */
 }
 
 /* Устанавливаем стили для элемента с id "total" */
 #total {
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    margin-top: 10px; /* Внешний отступ сверху */
 }
 